pandas>=2.2.0
dash>=2.14.2
dash-bootstrap-components>=1.5.0
Flask>=3.0.2
Flask-SQLAlchemy>=3.1.1
SQLAlchemy>=2.0.27
PyPDF2>=3.0.1
python-docx>=1.1.0
langchain-groq>=0.0.6
langchain>=0.1.9
langchain-community>=0.0.24
werkzeug>=3.0.1
python-dotenv>=1.0.1
gunicorn>=21.2.0 